asgiref==3.11.0
astroid==4.0.2
attrs==25.3.0
autobahn==25.12.2
Automat==25.4.16
black==25.12.0
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.3
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.2
daphne==4.2.1
dill==0.4.0
Django==5.2.9
django-channels==0.7.0
django-cors-headers==4.9.0
django-rest-passwordreset==1.5.0
django-taggit==6.1.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.12.1
flake8==7.3.0
hyperlink==21.0.0
idna==3.11
inflection==0.5.1
isort==7.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy-extensions==1.1.0
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
pillow==12.1.0
platformdirs==4.5.0
psycopg2==2.9.10
psycopg2-binary==2.9.11
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
PyJWT==2.10.1
pylint==4.0.2
pyOpenSSL==25.3.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
requests-oauthlib==2.0.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.4
tomli==2.3.0
tomlkit==0.13.3
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.6.3
zope.interface==8.2
