asgiref==3.7.2
astroid==3.1.0
attrs==24.2.0
autobahn==23.6.2
Automat==22.10.0
black==24.8.0
certifi==2024.7.4
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.0
dill==0.3.8
Django==5.1.4
django-channels==0.7.0
django-cors-headers==4.3.1
django-rest-passwordreset==1.4.0
django-taggit==5.0.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
drf-spectacular-sidecar==2024.3.4
flake8==7.1.1
hyperlink==21.0.0
idna==3.7
inflection==0.5.1
isort==5.13.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==23.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
PyJWT==2.8.0
pylint==3.3.3
pyOpenSSL==24.2.1
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
requests==2.32.3
requests-oauthlib==1.4.0
service-identity==24.1.0
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.13.0
txaio==23.1.1
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
zope.interface==6.2
